.cart{
    /* background-color: azure; */
    position: sticky;
    top: 0;
}
.timemachine1{
    padding: 2px 0px 2px 0px;
    border: 2px;
    background-color: rgb(224, 236, 236);
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    
}
.timemachine2{
    padding: 2px 0px 2px 0px;
    margin: 5px;
    border: 2px;
    border-radius: 10px;
    background-color: rgb(224, 236, 236);
    text-align: center;
    
}
.timemachine{
    font-size:small;
   text-align: justify;
   

}
.complete-task{
    width: 100%;
    background-color: blue;
    border: 2px;
    border-radius: 20px;
    height: 30px;
}
.complete-task:hover{
    background: #1292e1;
    color: white;
    text-decoration: none !important; 
}